body
{
    background-image: url("./Img/background.jpg");
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif ;
}
.layout
{
    background-color: #fcfffa;
}

table
{
    border-spacing: 7px 11px;
}

td
{
    background-color: #f0e8b4;
    border-radius:50px;
}


tr:first-child td 
{
    text-align: center;
    color:#106100;
    font-size:2.3rem;
    border-top: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.layout {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    background-color:transparent;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 20px;
}

a, a:visited {
    color: darkgreen;
    text-decoration: none;
}

